{% extends "base.html" %}

{% load chat_tags %}
{% load static thumbnail %}

{% block title %}
	Chat room
{% endblock title %}

{% block content %}
	<div class="col-lg-12">
	    <div class="card chat-app">
	        <div id="plist" class="people-list">
	            <div class="input-group">
	                <input id="chat-search" type="text" class="form-control" placeholder="Search...">
	            </div>
	            <ul id="chat-names" class="list-unstyled chat-list mt-2 mb-0">
	                {% for user_chat in chats %}
						{% with other_user=user_chat|get_participant:username %}
	                    <a href="{% url 'chat:dialog' user_chat.id %}">
		                	<li class="clearfix {% if chat_id == user_chat.id %}active{% endif %} chat-name" data-chatId="{{ user_chat.id }}">
		                    {% if other_user.photos.all %}
                            	<img class="rounded-circle" src="{% thumbnail other_user.photos.first.image 70x70 crop="smart" %}"/>
                            {% else %}
                            	<img src="{% static "img/default-user-avatar.png" %}">
                            {% endif %}
		                    <div class="about">
	                    	    	<div class="name">{{ other_user }}</div>
                                    {% if other_user.online %}
                                        <div class="status"> <i class="fa fa-circle online"></i> online </div>
                                    {% else %}
                                        <div class="status"> <i class="fa fa-circle offline"></i> offline </div>
                                    {% endif %}
		                    </div>
		                	</li>
	                    </a>
		                {% endwith %}
	                {% endfor %}
	            </ul>
	        </div>
	        <div class="chat">
	            <div class="chat-header clearfix">
	                <div class="row">
	                    <div class="col-lg-6">
	                        <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
	                            {% if participant.photos.all %}
	                            	<img class="rounded-circle" src="{% thumbnail participant.photos.first.image 70x70 crop="smart" %}"/>
	                            {% else %}
	                            	<img src="{% static "img/default-user-avatar.png" %}">
	                            {% endif %}
	                        </a>
	                        <div class="chat-about">
	                            <h6 id="participant" class="m-b-0">{{ participant.first_name }}</h6>
                                <small>
                                    {% if participant.online %}
                                        Online
                                    {% else %}
                                        Last seen: {% if participant.last_seen %}{{ participant.last_seen|timesince }}{% else %}awile{% endif %}
                                    {% endif %}
                                </small>                                   
                                <h3>{{ participant.lastseen }}</h3>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="chat-history">
	                <ul id="chat-log" class="m-b-0">
	                </ul>
	            </div>
	            <div class="chat-message clearfix">
	                <div class="input-group mb-0">
	                    <div class="input-group-prepend">
	                        <span class="input-group-text">
	                        	<button id="chat-message-submit">
	                        		<i class="fa fa-send" style="font-size:20px"></i>	
	                        	</button>
	                        	
	                        </span>
	                    </div>
	                    <input type="text" id="chat-message-input" class="form-control" placeholder="Enter text here...">
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	{{ chat_id|json_script:"chat-id" }}
{% endblock content %}

{% block domready %}
	<script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
	<script type="text/javascript">
		// set height for chat
		document.getElementsByClassName('container')[0].style.height = '90vh';
		document.getElementsByClassName('row justify-content-md-center')[0].style.height = '100%';
		document.getElementsByClassName('col-lg-12')[0].style.height = '100%';
	</script>
	<script>
		const chatId = JSON.parse(document.getElementById('chat-id').textContent);
		var username = '{{ username }}';

		const chatSocket = new ReconnectingWebSocket(
			"ws://" + window.location.host + "/ws/chat/" + chatId + "/"
		);

		chatSocket.onopen = function(e) {
			fetchMessages();
		}

		chatSocket.onmessage = function(e) {
			var data = JSON.parse(e.data);
			if (data['command'] === 'messages') {
				for (let i=0; i<data['messages'].length; i++) {
					createMessage(data['messages'][i]);
				}
			} else if (data['command'] === 'new_message') {
				createMessage(data['message'])
			}
		};

		chatSocket.onclose = function(e) {
			console.error('Chat socket closed unexpectedly');	
		};

		document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {
                document.querySelector('#chat-message-submit').click();
            }
        };

		document.querySelector('#chat-message-submit').onclick = function(e) {
            moveChatToTop()
			const messageInputDom = document.querySelector('#chat-message-input');
			const message = messageInputDom.value;
			chatSocket.send(JSON.stringify({
				'message': message,
				'command': 'new_message',
				'from': username
			}));
			messageInputDom.value = '';
		};

		document.querySelector('#chat-search').onkeyup = function(e) {
	      var messageInput = this.value.toLowerCase();
	      var items = document.getElementsByClassName("chat-name");
	      for (i = 0; i < items.length; i++) {
	        let chatName = items[i].getElementsByClassName("name")[0].innerText.toLowerCase()
	        if (!(chatName.includes(messageInput))) {
	          $(items[i]).hide();
	        } else {
	          $(items[i]).show();
	        }
	      }
		};

		function fetchMessages() {
			chatSocket.send(JSON.stringify({'command': 'fetch_messages'}))	
		}

        function moveChatToTop(){
            chat_a_li = $('[data-chatId='+chatId+']').parent();
            // all the LIs above the chat_a_li one
            var previousAll = chat_a_li.prevAll();

            // only proceed if it's not already on top (no previous siblings)
            if(previousAll.length > 0) {
                console.log('test2')
                // top LI
                var top = $(previousAll[previousAll.length - 1]);

                // immediately previous LI
                var previous = $(previousAll[0]);

                // how far up do we need to move the chat_a_li LI?
                var moveUp = chat_a_li.attr('offsetTop') - top.attr('offsetTop');

                // how far down do we need to move the previous siblings?
                var moveDown = (chat_a_li.offset().top + chat_a_li.outerHeight()) - (previous.offset().top + previous.outerHeight());

                // let's move stuff
                chat_a_li.css('position', 'relative');
                previousAll.css('position', 'relative');
                chat_a_li.animate({'top': -moveUp});
                previousAll.animate({'top': moveDown}, {complete: function() {
                    // rearrange the DOM and restore positioning when we're done moving
                    chat_a_li.parent().prepend(chat_a_li);
                    chat_a_li.css({'position': 'static', 'top': 0});
                    previousAll.css({'position': 'static', 'top': 0}); 
                }});
            }
        }

		function getTime(timestamp) {
			var timestamp = new Date(timestamp);
			var today = new Date();
			var month_names_short = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

			const zeroPad = (num, places) => String(num).padStart(places, '0')

			var timestamp_year = timestamp.getFullYear();
			var timestamp_month = zeroPad(timestamp.getMonth()+1, 2);
			var timestamp_day = zeroPad(timestamp.getDate(), 2);
			var timestamp_hours = zeroPad(timestamp.getHours(), 2);
			var timestamp_minutes = zeroPad(timestamp.getMinutes(), 2);

			var today_year = today.getFullYear();
			var today_month = today.getMonth()+1;
			var today_day = today.getDate();

			if (timestamp_year != today_year) {
			// if the timestamp is not this year then show HH:MM YYYY-MM-DD
				return `${timestamp_hours}:${timestamp_minutes}\n${timestamp_year}-${timestamp_month}-${timestamp_day}`
			} else if (timestamp_month != today_month || timestamp_day != today_day){
			// if the timestamp is not this day show HH:MM Month and day number
				return `${timestamp_hours}:${timestamp_minutes}\n${month_names_short[today_month-1]} ${timestamp_day}`
			} else {
			// if the timestamp is today show HH:MM
				return `${timestamp_hours}:${timestamp_minutes}`
			}
		}

		function createMessage(data) {
			var author = data['author'];
			var timeToShow = getTime(data['timestamp']);

			// list tag for message 
			var msgListTag = document.createElement('li');
			// set class for list tag
			msgListTag.className = 'clearfix';
			
			// div tag for data about message
			var msgDataDivTag = document.createElement('div'); 
			msgDataDivTag.className = 'message-data';

			// span tag which contains message date and time
			var msgDataSpanTag = document.createElement('span');
			msgDataSpanTag.className = 'message-data-time';
			smallTag = document.createElement('small');
			smallTag.textContent = timeToShow;
			msgDataSpanTag.appendChild(smallTag);
			// append span tag to the div tag
			msgDataDivTag.appendChild(msgDataSpanTag);

			// div tag for message
			var msgDivTag = document.createElement('div');
			msgDivTag.className = 'message';
			msgDivTag.textContent = data.content;

			if (author == username) {
				msgDataDivTag.classList.add('text-end');
				msgDivTag.classList.add('my-message', 'float-right');
			} else {
				msgDivTag.classList.add('other-message');
			}

			msgListTag.appendChild(msgDataDivTag);
			msgListTag.appendChild(msgDivTag);

			var chat = document.querySelector('#chat-log');
			chat.appendChild(msgListTag);
			chat.scrollTop = chat.scrollHeight;
		}
	</script>
{% endblock domready %}
