{% extends "base.html" %}

{% load static %}

{% block title %}
	Chat room
{% endblock title %}

{% block content %}
	<div class="col-lg-12">
	    <div class="card chat-app">
	        <div id="plist" class="people-list">
	            <div class="input-group">
	                <div class="input-group-prepend">
	                    <span class="input-group-text"><i class="fa fa-search"></i></span>
	                </div>
	                <input type="text" class="form-control" placeholder="Search...">
	            </div>
	            <ul class="list-unstyled chat-list mt-2 mb-0">
	                <li class="clearfix">
	                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
	                    <div class="about">
	                        <div class="name">Vincent Porter</div>
	                        <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>
	                    </div>
	                </li>
	                <li class="clearfix active">
	                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
	                    <div class="about">
	                        <div class="name">Aiden Chavez</div>
	                        <div class="status"> <i class="fa fa-circle online"></i> online </div>
	                    </div>
	                </li>
	            </ul>
	        </div>
	        <div class="chat">
	            <div class="chat-header clearfix">
	                <div class="row">
	                    <div class="col-lg-6">
	                        <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
	                            <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
	                        </a>
	                        <div class="chat-about">
	                            <h6 class="m-b-0">Aiden Chavez</h6>
	                            <small>Last seen: 2 hours ago</small>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="chat-history">
	                <ul id="chat-log" class="m-b-0">
	                </ul>
	            </div>
	            <div class="chat-message clearfix">
	                <div class="input-group mb-0">
	                    <div class="input-group-prepend">
	                        <span class="input-group-text">
	                        	<button id="chat-message-submit">
	                        		<i class="fa fa-send" style="font-size:20px"></i>	
	                        	</button>
	                        	
	                        </span>
	                    </div>
	                    <input type="text" id="chat-message-input" class="form-control" placeholder="Enter text here...">
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	{{ room_name|json_script:"room-name" }}
{% endblock content %}

{% block domready %}
	<script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
	<script type="text/javascript">
		// set height for chat
		document.getElementsByClassName('container')[0].style.height = '90vh';
		document.getElementsByClassName('row justify-content-md-center')[0].style.height = '100%';
		document.getElementsByClassName('col-lg-12')[0].style.height = '100%';
	</script>
	<script>
		const roomName = JSON.parse(document.getElementById('room-name').textContent);
		var username = '{{ username }}';

		const chatSocket = new ReconnectingWebSocket(
			"ws://" + window.location.host + "/ws/chat/" + roomName + "/"
		);

		chatSocket.onopen = function(e) {
			fetchMessages();
		}

		chatSocket.onmessage = function(e) {
			var data = JSON.parse(e.data);
			if (data['command'] === 'messages') {
				for (let i=0; i<data['messages'].length; i++) {
					createMessage(data['messages'][i]);
				}
			} else if (data['command'] === 'new_message') {
				createMessage(data['message'])
			}
		};

		chatSocket.onclose = function(e) {
			console.error('Chat socket closed unexpectedly');	
		};

		document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {
                document.querySelector('#chat-message-submit').click();
            }
        };

		document.querySelector('#chat-message-submit').onclick = function(e) {
			const messageInputDom = document.querySelector('#chat-message-input');
			const message = messageInputDom.value;
			chatSocket.send(JSON.stringify({
				'message': message,
				'command': 'new_message',
				'from': username
			}));
			messageInputDom.value = '';
		};

		function fetchMessages() {
			chatSocket.send(JSON.stringify({'command': 'fetch_messages'}))	
		}

		function diffDates(day_one, day_two) {
		    return (day_one - day_two) / (60 * 60 * 24 * 1000);
		};

		function getTime(timestamp) {
			var timestamp = new Date(timestamp);
			var today = new Date();
			var month_names_short = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

			const zeroPad = (num, places) => String(num).padStart(places, '0')

			var timestamp_year = timestamp.getFullYear();
			var timestamp_month = zeroPad(timestamp.getMonth()+1, 2);
			var timestamp_day = zeroPad(timestamp.getDate(), 2);
			var timestamp_hours = zeroPad(timestamp.getHours(), 2);
			var timestamp_minutes = zeroPad(timestamp.getMinutes(), 2);

			var today_year = today.getFullYear();
			var today_month = today.getMonth()+1;
			var today_day = today.getDate();

			if (timestamp_year != today_year) {
			// if the timestamp is not this year then show HH:MM YYYY-MM-DD
				return `${timestamp_hours}:${timestamp_minutes}\n${timestamp_year}-${timestamp_month}-${timestamp_day}`
			} else if (timestamp_month != today_month || timestamp_day != today_day){
			// if the timestamp is not this day show HH:MM Month and day number
				return `${timestamp_hours}:${timestamp_minutes}\n${month_names_short[today_month-1]} ${timestamp_day}`
			} else {
			// if the timestamp is today show HH:MM
				return `${timestamp_hours}:${timestamp_minutes}`
			}
		}

		function createMessage(data) {
			var author = data['author'];
			var timeToShow = getTime(data['timestamp']);

			// list tag for message 
			var msgListTag = document.createElement('li');
			// set class for list tag
			msgListTag.className = 'clearfix';
			
			// div tag for data about message
			var msgDataDivTag = document.createElement('div'); 
			msgDataDivTag.className = 'message-data';

			// span tag which contains message date and time
			var msgDataSpanTag = document.createElement('span');
			msgDataSpanTag.className = 'message-data-time';
			smallTag = document.createElement('small');
			smallTag.textContent = timeToShow;
			msgDataSpanTag.appendChild(smallTag);
			// append span tag to the div tag
			msgDataDivTag.appendChild(msgDataSpanTag);

			// div tag for message
			var msgDivTag = document.createElement('div');
			msgDivTag.className = 'message';
			msgDivTag.textContent = data.content;

			if (author == username) {
				msgDataDivTag.classList.add('text-end');
				msgDivTag.classList.add('my-message', 'float-right');
			} else {
				msgDivTag.classList.add('other-message');
			}

			msgListTag.appendChild(msgDataDivTag);
			msgListTag.appendChild(msgDivTag);

			var chat = document.querySelector('#chat-log');
			chat.appendChild(msgListTag);
			chat.scrollTop = chat.scrollHeight;
		}
	</script>
{% endblock domready %}
