{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
	My profile
{% endblock title %}


{% block content %}
    <div class="col-6">
        <h1>About you</h1>
        <h3>{{ user.first_name }}, {{ age }}</h3>
        <h5>{{ user.city }}, {{ user.country }}</h5>
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success my-2">Save</button>
        </form>
    </div>
{% endblock content %}

