{% extends "base.html" %}

{% load static thumbnail crispy_forms_tags %}

{% block title %}
	My profile
{% endblock title %}

{% block content %}
    <div class="col-6">
        <h1 class="my-2">About you</h1>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
                {% if not user.photos.all %}
                    <div class="carousel-item active">
                        <img src="{% static 'img/default-user-avatar.png' %}" class="d-block w-100">
                    </div>
                {% else %}
                    {% for photo in user.photos.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <a href="{{ photo.image.url }}">
                                <img src="{% thumbnail photo.image 650x650 crop="smart" %}" class="d-block">
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

        <div class="row my-2">
            <div class="col-sm-8"><h3>{{ user.first_name }}, {{ age }}</h3></div>
            <div class="col-sm-4">
                <a href="{% url "profiles:photo_upload" %}">
                    <button type="button" class="btn btn-outline-dark">Upload photo</button>
                </a>
            </div>
        </div>
        <h5>{{ user.city }}, {{ user.country }}</h5>
        <form method="post" id="profile-change-form" data-url="{% url 'profiles:my_profile' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="button" id="save-info-button" class="btn btn-success my-2">Save</button>
        </form>
    </div>
{% endblock content %}

{% block domready %}
<script src="{% static 'js/profile_change.js' %}"></script>
{% endblock %}
