{% extends "base.html" %}

{% load static crispy_forms_tags %}

{% block title %}
	My profile
{% endblock title %}

{% block content %}
	<div class="col-6">
		<h4 class="mt-3">Profile info</h4>
		<form method="post" id="profile-settings-form" data-url="{% url 'profiles:profile_settings' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="button" id="save-button" class="btn btn-success my-2">Save</button>
        </form>
        <hr>
        <h5>You can change password here:</h5>
        <a href="{% url 'profiles:password_change' %}" class="btn btn-outline-dark">Change password</a>
	</div>
{% endblock content %}

{% block domready %}
	<script src="{% static 'js/profile_settings.js' %}"></script>
    <script src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>
    <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
{% endblock %}
