{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}
	Your photos
{% endblock title %}

{% block content %}
	<div class="col-6">
		<h1>Your photos</h1>

		{% for photo in photos %}
			<div class="col-3">
				<a href="{{ photo.image.url }}">
					<img src="{% thumbnail photo.image 150x150 crop="smart" %}">
				</a>
				<a href="{% url "profiles:photo_delete" photo.id %}">
					<button type="button" class="btn btn-outline-danger">Delete</button>
				</a>
			</div>

		{% endfor %}

		<form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ form|crispy }}
        	<button type="submit" class="btn btn-success my-2">Upload photo</button>
		</form>
	</div>
{% endblock content %}