{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Log-in{% endblock %}

{% block content %}
	<div class="col-6">
		<h1>Log-in</h1>
		{% if form.errors %}
			<p>
				Username or password didn't match.
				Please try again
			</p>
		{% else %}
			<p>
				Use the following form to log-in.
			</p>
		{% endif %}


		<form action="{% url 'profiles:login' %}" method="post" novalidate>
			{% csrf_token %}
			{{ form|crispy }}
			<input type="hidden" name="next" value="{{ next }}">
			<button type="submit" class="btn btn-success my-3">Log in</button>
		</form>

		<p>If you are haven't account you can register <a href="{% url "profiles:register" %}">here</a></p>
    </div>

{% endblock content %}